		<footer>
			<div class="col-12" id="footer">
				<div class="container_footer">
					<div class="col-6" id="logo">
						<div id='my_logo'>
							<span>My Notes</span>
						</div>
					</div>
					<div class="col-6" id="container_mail">
						<div id="box_mailto">
							<a href="mailto:nariman84@list.ru?subject=My notes" class="mailto" id="mailto">Напишите нам</b></a>
						</div>
					</div>
				</div>
			</div>
		</footer>