<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Notes</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/grid.css">
		<link href="https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Mali|Permanent+Marker" rel="stylesheet">
	</head>
	<body>
		<div id="background"></div>
		<div id="content">
			<div id="backdrop"></div>
			<div class="container" id="header">
				<div class="logged-in-username">
					<div id="logo">
						<b>My Notes</b>
					</div>
					<div class="buttonLogOut">
						{{#user}}
						<a href="/logout" class="logOut" id="logOut"><b>Выйти</b></a>
						{{/user}}
						{{^user}}
						<a href="/login" class="logIn" id="logIn"><b>Войти</b></a>
						{{/user}}
					</div>
				</div>
			</div>