<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Notes</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/grid.css">
		<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
	</head>
	<body>
		<div class="background_body"></div>
		<div class="content_body">
			<div id="main">
				<div id="backdrop"></div>
				<div class="container" id="header">
					<div class="col_12">
						{{#user}}
						<div class="col_6" id="username">
							<u>Имя пользователя:</u>
							<span style="color: #ff5252">{{user.firstName}} {{user.lastName}}</span>
						</div>
						{{/user}}
						{{^user}}
						<div class="col_6">
							<div class="logo">
								<b>My Notes</b>
							</div>
						</div>
						{{/user}}
						<div class="col_6">
							{{#user}}
							<a href="/logout" class="in_out_button" id="logout_button"><b>Выйти</b></a>
							{{/user}}
							{{^user}}
							<a href="/login" class="in_out_button" id="login_button"><b>Войти</b></a>
							{{/user}}
						</div>
					</div>
				</div>
				<div class="container" id="pages_top">
					{{#user}}
					<div class="background_body"></div>
					<div class="container" id="button_top">
						<div>
							<button type='button' class="add_note" id="add_note"><b>Добавить заметку</b></button>
							<button type='button' class="del_note" id="del_note"><b>Удалить</b></button>
						</div>
					</div>

					
					<div class="box_page">
						<div class="pagination_container"></div>
					</div>
					{{/user}}
				</div>

				<div class="container" id="box_table" style="clear: both">
					<div class="table_notes">
						<h1>Список заметок</h1>
						<table align="center" id="notes" class="notes">
							<thead id="table_head">
								<tr id="row_thead" class="row_thead">
									<td width="5px"></td>
									<td width="20%">Дата создания</td>
									<!-- <td width="20%">Количество времени с момента создания</td> -->
									<td width="30%">Название</td>
									<td>Описание</td>
								</tr>
							</thead>

							<tbody id="tbody_notes">
								{{#notes}}
									<tr class="row_tbody" id="{{_id}}">
										<td id="checkbox">
											<input type="checkbox" id="cb_{{_id}}" name="checkbox" class="checkbox">
										</td>
										<td class="created_date">{{created_format_date}}</td>
										<td>
											<div>{{note_name}}</div>
										</td>
										<td>
											<div>{{note_theme}}</div>
										</td>
									</tr>
								{{/notes}}
							</tbody>
						</table>
					</div>
					{{#user}}
					<div class="empty_table">
						<span>Список заметок пока пуст</span>
					</div>
					{{/user}}

						{{^user}}
						<div id="authoriz">
							<span>Авторизуйтесь или зарегистрируйтесь,<br> чтобы иметь возможность добавлять заметки</span>
						</div>
						{{/user}}

					<div id="pages_bottom">
						{{#user}}
						<div class="box_page">
							<div class="pagination_container"></div>
						</div>
						{{/user}}
					</div>
				</div>
			</div>
			<div class="footer">
				<div class="col_12">
					<div class="col_6">
						<div class="logo">
							<span>My Notes</span>
						</div>
					</div>
					<div class="col_6">
						<div class="box_mail">
							<a href="mailto:nariman84@list.ru?subject=My notes" class="mailto" id="mailto">Напишите нам</b></a>
						</div>
					</div>
				</div>
			</div>
		</div>
			<div class="container">
				<div class="new_note" id="new_note">
					<form id="notes_form" name="notes_form" class='notes_form'>
						<section>
							<input type='text' id='note_name' class='note_name' name="note_name" placeholder="Введите название заметки" required>
						</section>
						<section>
							<input type='text' id='note_theme' class='note_theme' name="note_theme" placeholder="Введите тему заметки">
						</section>
						<section>
							<textarea id='content' class='content' name='content' placeholder="Введите текст Вашей заметки"></textarea>
						</section>
						<section>
							<input type="submit" class="save_note" id="save_note" value='Сохранить заметку'>
							<button type='button' class="cancel_add_note" id="cancel_add_note">Отмена</button>
						</section>
					</form>
				</div>
			</div>
		
			<div class="container">
				<div class="view_note" id="view_note">
					<div id="description_note">
						<div class="col_12">
							<div class="col_3"><b>Название заметки: </b></div>
							<div class="col_9" id="info_note_name"></div>
						</div>
						<div class="col_12">
							<div class="col_3"><b>Текст заметки </b></div>
							<div class="col_9" id="info_content"></div>
						</div>
						<div class="col_12">
							<div class="col_3"><b>Дата создания </b></div>
							<div class="col_9" id="info_created"></div>	
						</div>			
					</div>
					<div class="col_12" id="okey">
						<button type='button' class="cancel_view_note" id="cancel_view_note">OK</button>
					</div>
				</div>
			</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="../js/main.js"></script>
		<script>
			function pagination() {
				//Пагинация страниц
				for (var j = 0; j < 2; j++) {
					var divPagination = document.getElementsByClassName("pagination_container");
					if (Number("{{pages}}") > 0) {
						if (Number("{{pages}}") === 1) {
							var boxPage = document.getElementsByClassName("box_page");
							boxPage[0].style.visibility = "hidden";
							boxPage[1].style.visibility = "hidden";
						}

						if (Number("{{current}}") <= 3 && Number("{{pages}}") > 5) {
							var i = 1;
							for (; i <= 5; i++) {
								var pageNumber = document.createElement('a');
								pageNumber.setAttribute("href", "/notes/" + i);
								pageNumber.innerHTML = i;
								pageNumber.className = "page_num";
								divPagination[j].append(pageNumber);

								if (pageNumber.innerHTML === "{{current}}") {
									pageNumber.className = "current_page";
									pageNumber.id = "current_page";
									pageNumber.removeAttribute("href");
								};
							};
						} else if (Number("{{current}}") <= 3 && Number("{{pages}}") <= 5) {
							var i = 1;
							for (; i <= Number("{{pages}}"); i++) {
								var pageNumber = document.createElement('a');
								pageNumber.setAttribute("href", "/notes/" + i);
								pageNumber.innerHTML = i;
								pageNumber.className = "page_num";
								divPagination[j].append(pageNumber);

								if (pageNumber.innerHTML === "{{current}}") {
									pageNumber.className = "current_page";
									pageNumber.id = "current_page";
									pageNumber.removeAttribute("href");
								};
							};
						} else if (Number("{{current}}") > 3 && Number("{{current}}") <= Number("{{pages}}") - 2) {
							var i = (Number("{{current}}") - 2);
							for (; i <= (Number("{{current}}") + 2); i++) {
								var pageNumber = document.createElement('a');
								pageNumber.setAttribute("href", "/notes/" + i);
								pageNumber.innerHTML = i;
								pageNumber.className = "page_num";
								divPagination[j].append(pageNumber);

								if (pageNumber.innerHTML === "{{current}}") {
									pageNumber.className = "current_page";
									pageNumber.id = "current_page";
									pageNumber.removeAttribute("href");
								};
							};
						} else if (Number("{{current}}") > Number("{{pages}}") - 3 && Number("{{current}}") <= Number("{{pages}}")) {
							if (Number("{{pages}}") === 4) {
								var i = Number("{{pages}}") - 3;
							} else {
								var i = Number("{{pages}}") - 4;
							}
							for (; i <= Number("{{pages}}"); i++) {
								var pageNumber = document.createElement('a');
								pageNumber.setAttribute("href", "/notes/" + i);
								pageNumber.innerHTML = i;
								pageNumber.className = "page_num";
								divPagination[j].append(pageNumber);

								if (pageNumber.innerHTML === "{{current}}") {
									pageNumber.className = "current_page";
									pageNumber.id = "current_page";
									pageNumber.removeAttribute("href");
								};
							};
						}
						if ((Number('{{current}}') + 2) < Number("{{pages}}") && Number("{{pages}}") > 5) {
							var lastPage = document.createElement('a');
							var hidePage = document.createElement('a');
							hidePage.className = "hide_page";
							hidePage.innerHTML = "...";
							lastPage.innerHTML = "Last";
							lastPage.className = "last_page";
							lastPage.setAttribute("href", "/notes/{{pages}}");
							divPagination[j].append(lastPage);
							divPagination[j].insertBefore(hidePage, lastPage);
						};

						if (Number("{{current}}") > 3 && Number("{{pages}}") > 5) {
							var firstPage = document.createElement('a');
							var hidePage = document.createElement('a');
							hidePage.className = "hide_page";
							hidePage.innerHTML = "...";
							firstPage.innerHTML = "First";
							firstPage.className = "first_page";
							firstPage.setAttribute("href", "/notes/1");
							divPagination[j].prepend(hidePage);
							divPagination[j].insertBefore(firstPage, hidePage);
						};
					}
				}
			};
			window.onload = pagination();
		</script>
	</body>
</html>