{{>header}}
		<div class="container" id="pages">
			<div id="boxPage">
				<div id="pageNotes">Page: </div>
				<div id="pagination_container">
				</div>
			</div>
		</div>
		<div class="container" style="clear: both">
			<div class="table_notes">
				<h1>Список заметок</h1>
					<table align="center" id="notes" class="notes">
						<thead id="table_head">
							<tr id="heading_of_table" class="heading_of_table">
								<td width="20%">Дата создания</td>
								<td width="20%">Количество времени с момента создания</td>
								<td width="30%">Название</td>
								<td>Описание</td>
							</tr>
						</thead>

						<tbody id="tbody_notes">

							{{#notes}}
								<tr id="trfromDb">
									<td id="tdfromDb">{{created}}</td>
									<td class="fromDb"></td>
									<td>{{note_name}}</td>
									<td>{{note_theme}}</td>
								</tr>
							{{/notes}}
						</tbody>

					</table>

			</div>
			<h2 class="noNotes">Список заметок пока пуст</h2>
			
			<section class="form-row" id="button">
				{{#user}}
				<button type='button' class="add_note" id="add_note">Добавить заметку</button>
				{{/user}}
				{{^user}}
				<div>
					<span>Авторизуйтесь или зарегистрируйтесь,<br> чтобы иметь возможность добавлять заметки</span>
				</div>
				{{/user}}
			</section>
		</div>

		<div class="container_1">
			<div class="newNote" id="newNote">
				<form id="notesForm" name="noteForm" class='reg-form'>
					<section>
						<input type='text' id='note_name' class='note_name' name="note_name" placeholder="Введите название заметки">
					</section>
					<section>
						<input type='text' id='note_theme' class='noteTheme' name="note_theme" placeholder="Введите тему заметки">
					</section>
					<section>
						<textarea id='content' class='content' name='content' placeholder="Введите текст Вашей заметки">
						</textarea>
					</section>
					<section>
						<input type="submit" class="save_note" id="save_note" value='Сохранить заметку'>
						<button type='button' class="cancel_note" id="cancel_note">Отмена</button>
					</section>
				</form>
			</div>
		</div>

		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="js/main.js"></script>
		<script>
			function pagination() {
				
				var divPagination = document.getElementById("pagination_container");
				for (var i = 1; i <= '{{pages}}'; i++) {
					var pageNumber = document.createElement('a');
					pageNumber.setAttribute("href", "/notes/" + i);

					pageNumber.innerHTML = i;
					pageNumber.className = "pageNum";
					divPagination.append(pageNumber);
				}
			};
			window.onload = pagination();
		</script>
	</body>
</html>